{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tributes</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <header class="hero-section">
        <div class="nav-bar">
            <h1 class="logo">GITUA'S Legacy</h1>
            <nav id="main-nav">
                <i class="fa fa-bars menu-icon" onclick="toggleMenu()"></i>
                <ul class="nav-links">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="#story">Life Story</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="{% url 'tributes' %}">Tributes</a></li>
                    <li><a href="#service">Service Info</a></li>
                    <li><a href="{% static 'ASSETS/jamesgitua.pdf' %}" download="James Gitua Njuguna">Downloads</a></li>
                </ul>
            </nav>
        </div>
        <div class="hero-content">
            <p class="welcome-text">In Loving Memory of</p>
            <h2>JAMES GITUA NJUGUNA</h2>
            <p class="dates">1944 - 27/09/2025</p>
        </div>
    </header>

    <main>
        <section id="tributes" class="section tributes-section">
            <h2>Tributes</h2>
            <div class="tributes-list">
                {% if tributes %}
                {% for tribute in page_obj %}
                <div class="tribute-post">
                    <p class="post-text">"{{ tribute.text }}"</p>
                    <p class="post-meta">— {{ tribute.name }}., {{ tribute.created }}</p>
                </div>
                {% endfor %}

                {% else %}
                <div class="tribute-post">
                    <p class="post-text">no tributes yet</p>
                </div>
                {% endif %}
            </div>
            {% include 'pagination.html' %}
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <p><strong>A Permanent Place to Remember.</strong></p>
            <p>For inquiries, please email: <a href="mailto:gitua85@gmail.com">gitua85@gmail.com</a></p>
            <p class="copyright">&copy; 2025 The GITUA'S Family. Site created and hosted by nyandaruaicthub@gmail.com.</p>
        </div>
    </footer>

    <script>
        // Simple JavaScript for the mobile menu toggle
        function toggleMenu() {
            const navLinks = document.querySelector('.nav-links');
            navLinks.classList.toggle('active');
        }
    </script>
</body>
</html>